APP_NAME=CodingRocket
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/coding_rocket

SECRET_KEY=your-super-secret-key-change-this-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
ALGORITHM=HS256

ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://code-rockett-2h3y.vercel.app

RESEND_API_KEY=
EMAIL_FROM=noreply@yourdomain.com
ADMIN_EMAIL=you@yourdomain.com

ADMIN_EMAIL_SEED=
ADMIN_PASSWORD_SEED=
